[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[requires]
python_version = "3.6"

[scripts]
cleanup = "bash -c 'rm -rf $(find . -type d -name .ropeproject) $(find . -type d -name .ipynb_checkpoints) $(find . -type d -name __pycache__)'"

[packages]
pyparsing = ">=2.2.0"

[dev-packages]
